---
import { Image } from "astro:assets";
import MenuImage from "./MenuImage.astro";
import MenuItem from "./MenuItem.astro";

import appetizers from "../data/appetizers.js";
import pho from "../data/pho.js";
import entrees from "../data/entrees.js";
import banhMi from "../data/banh-mi.js";

import spicySymbol from "../assets/images/spicy-symbol.png";
import vegetarianSymbol from "../assets/images/vegetarian-symbol.png";
import potStickersMenu from "../assets/images/pot-stickers-menu.jpg";
import springRollsMenu from "../assets/images/spring-rolls-menu.jpg";
import beefPhoMenu from "../assets/images/beef-pho-menu.jpg";
import grilledPortMenu from "../assets/images/grilled-pork-menu.jpg";
import grilledChickenMenu from "../assets/images/grilled-chicken-menu.jpg";
import banhMiMenu from "../assets/images/banh-mi-menu1.jpg";

const appsColumnOne = appetizers.slice(0, 4);
const appsColumnTwo = appetizers.slice(4, 9);

const entreesColumnOne = entrees.slice(0, 7);
const entreesColumnTwo = entrees.slice(7, 14);

---

<section id="menu">
  <h2 class="tx-center">Menu</h2>
  <div class="menu-container">
    <div class="menu-button-group">
      <button class="menu-links btn-light active" data-menu="appetizers"
        >Appetizers</button
      >
      <button class="menu-links btn-light" data-menu="pho">Pho</button>
      <button class="menu-links btn-light" data-menu="entrees">Entrees</button>
      <button class="menu-links btn-light" data-menu="banh-mi">Banh Mi</button>
    </div>
    <div class="legend-mobile">
      <div class="legend-info">
        <Image src={spicySymbol} alt="spicy" width="20" />
        <span>Spicy</span>
      </div>
      <div class="legend-info">
        <Image src={vegetarianSymbol} alt="spicy" width="20" />
        <span>Vegetarian</span>
      </div>
    </div>
    <div id="appetizers" class="menu-content">
      <div class="menu-row">
        <div class="menu-column">
          <div class="menu-image">
            <MenuImage url={potStickersMenu} caption="Pork Fried Pot Stickers" />
          </div>
          {appsColumnOne.map((app) => (
            <MenuItem
              name={app.name}
              description={app.description}
              price_1={app.price_1}
              price_2={app.price_2}
              legend={app.legend}
            />
          ))}
        </div>
        <div class="menu-column">
          {appsColumnTwo.map((app) => (
            <MenuItem
              name={app.name}
              description={app.description}
              price_1={app.price_1}
              price_2={app.price_2}
              legend={app.legend}
            />
          ))}
          <div class="menu-image">
            <MenuImage url={springRollsMenu} caption="Shrimp Spring Roll" />
          </div>
        </div>
      </div>
    </div>

    <div id="pho" class="menu-content">
      <div class="menu-row">
        <div class="menu-column">
          <p class="menu-note">
            Pho is served with bean sprouts, Thai basil, jalapeno and lime
          </p>
          <MenuImage url={beefPhoMenu} caption="Beef Pho" />
        </div>
        <div class="menu-column">
          <div class="pho-size">
            <span>Regular</span>
            <span>Large</span>
          </div>
          {pho.map((p) => (
            <MenuItem
              name={p.name}
              description={p.description}
              price_1={p.price_1}
              price_2={p.price_2}
              legend={p.legend}
            />
          ))}
        </div>
      </div>
    </div>

    <div id="entrees" class="menu-content">
      <div class="menu-row">
        <div class="menu-column">
          <p class="menu-note">
            Served with rice or vermicelli
          </p>
          {entreesColumnOne.map((entree) => (
            <MenuItem
              name={entree.name}
              description={entree.description}
              price_1={entree.price_1}
              price_2={entree.price_2}
              legend={entree.legend}
            />
          ))}
          <div class="menu-image">
            <MenuImage
              url={grilledPortMenu}
              caption="Lemongrass Grilled Pork Vermicelli"
            />
          </div>
        </div>
        <div class="menu-column">
          <p class="menu-note">
            **Vermicelli dishes garnished with crushed peanuts
          </p>
          <MenuImage
            url={grilledChickenMenu}
            caption="Grilled Chicken with Steamed Rice"
          />
          {entreesColumnTwo.map((entree) => (
            <MenuItem
              name={entree.name}
              description={entree.description}
              price_1={entree.price_1}
              price_2={entree.price_2}
              legend={entree.legend}
            />
          ))}
        </div>
      </div>
    </div>

    <div id="banh-mi" class="menu-content">
      <div class="menu-row">
        <div class="menu-column">
          {banhMi.map((b) => (
            <MenuItem
              name={b.name}
              description={b.description}
              price_1={b.price_1}
              price_2={b.price_2}
              legend={b.legend}
            />
          ))}
        </div>
        <div class="menu-column">
          <div class="menu-image">
            <MenuImage url={banhMiMenu} caption="Grilled Pork Banh Mi" />
          </div>
        </div>
      </div>
    </div>
    <div class="legend-desktop">
      <div class="legend-info">
        <Image src={spicySymbol} alt="spicy" width="20" />
        <span>Spicy</span>
      </div>
      <div class="legend-info">
        <Image src={vegetarianSymbol} alt="spicy" width="20" />
        <span>Vegetarian</span>
      </div>
    </div>
  </div>
</section>

<style>
  #menu {
    margin: 40px 0;
  }
  #menu h2:first-child {
    text-transform: uppercase;
  }
  .menu-container {
    margin: 20px;
  }
  .menu-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 800px;
    overflow-x: auto;
  }
  .menu-button-group button {
    border-radius: 6px;
    display: inline-block;
    padding: 8px 6px;
    margin: 10px 8px;
    min-width: 140px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .menu-button-group button.active {
    background-color: var(--base-dark);
    color: #ffffff;
    border: 1px solid var(--base-dark);
  }
  .menu-content {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .legend-mobile {
    display: flex;
    margin: 20px 0;
  }
  .legend-desktop {
    display: none;
  }
  .legend-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 15px;
  }
  .legend-info span {
    margin-left: 5px;
  }
  .menu-note {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
  }
  .menu-row {
    display: block;
  }
  .menu-image {
    margin-top: 20px;
  }
  .pho-size {
    display: flex;
    justify-content: end;
    font-size: 14px;
    column-gap: 16px;
  }
  @media only screen and (min-width: 768px) {
   .menu-container {
      margin: 20px auto;
      max-width: 768px;
    }
    .menu-row {
      display: flex;
      flex-wrap: wrap;
      margin: 60px 0 20px 0;
    }
    .menu-column {
      flex: 50%;
    }
    .menu-column:first-child {
      padding-right: 20px;
    }
    .menu-column:last-child {
      padding-left: 20px;
    }
    .legend-mobile {
      display: none;
    }
    .legend-desktop {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  @media only screen and (min-width: 1024px) {
   .menu-container {
      margin: 20px auto;
      max-width: 1024px;
    }
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  const menuLinks = document.querySelectorAll(".menu-links");
  const menuContent = document.querySelectorAll(".menu-content");

  menuContent.forEach((content) => {
    content.style.display = "none";
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", (e) => {
      const menu = e.target.dataset.menu;
      removeActiveClass();
      menuContent.forEach((content) => {
        content.style.display = "none";
      });
      link.classList.add("active");
      document.getElementById(menu).style.display = "block";
    });
  });

  menuContent[0].style.display = "block";

  const removeActiveClass = () => {
    menuLinks.forEach((link) => {
      link.classList.remove("active");
    });
  };
</script>
