---
import { Image } from "astro:assets";
import MenuImage from "./MenuImage.astro";

import spicySymbol from "../assets/images/spicy-symbol.png";
import vegetarianSymbol from "../assets/images/vegetarian-symbol.png";
import potStickersMenu from "../assets/images/pot-stickers-menu.jpg";
import springRollsMenu from "../assets/images/spring-rolls-menu.jpg";
import beefPhoMenu from "../assets/images/beef-pho-menu.jpg";
import grilledPortMenu from "../assets/images/grilled-pork-menu.jpg";
import grilledChickenMenu from "../assets/images/grilled-chicken-menu.jpg";
import banhMiMenu from "../assets/images/banh-mi-menu.jpg";
---

<section id="menu">
  <h2 class="tx-center">Menu</h2>
  <div class="menu-container">
    <div class="menu-button-group">
      <button class="menu-links btn-light active" data-menu="appetizers"
        >Appetizers</button
      >
      <button class="menu-links btn-light" data-menu="pho">Pho</button>
      <button class="menu-links btn-light" data-menu="entrees">Entrees</button>
      <button class="menu-links btn-light" data-menu="banh-mi">Banh Mi</button>
    </div>
    <div id="appetizers" class="menu-content">
      <MenuImage url={potStickersMenu} caption="Pork Fried Pot Stickers" />
      <div class="menu-content-header">
        <h3>Viet Egg Rolls (2pcs)</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
      <MenuImage url={springRollsMenu} caption="Shrimp Spring Roll" />
    </div>

    <div id="pho" class="menu-content">
      <p class="image-note">
        Pho is served with bean sprouts, Thai basil, jalapeno and lime
      </p>
      <MenuImage url={beefPhoMenu} caption="Beef Pho" />
      <div class="menu-content-header">
        <h3>Pho</h3>
        <span>10.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
    </div>

    <div id="entrees" class="menu-content">
      <div class="menu-content-header">
        <h3>Entrees</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
      <MenuImage
        url={grilledPortMenu}
        caption="Lemongrass Grilled Pork Vermicelli"
      />
      <MenuImage
        url={grilledChickenMenu}
        caption="Grilled Chicken with Steamed Rice"
      />
    </div>

    <div id="banh-mi" class="menu-content">
      <div class="menu-content-header">
        <h3>Banh-mi</h3>
        <span>5.5</span>
      </div>
      <div class="menu-content-description">
        <p>Pork, shrimp, taro, & bean thread noodle in egg roll wrapper</p>
      </div>
      <MenuImage url={banhMiMenu} caption="Grilled Pork Banh Mi" />
    </div>
    <div class="legend">
      <div class="legend-info">
        <Image src={spicySymbol} alt="spicy" width="20" />
        <span>Spicy</span>
      </div>
      <div class="legend-info">
        <Image src={vegetarianSymbol} alt="spicy" width="20" />
        <span>Vegetarian</span>
      </div>
    </div>
  </div>
</section>

<style>
  #menu {
    margin: 40px 0;
  }
  #menu h2:first-child {
    text-transform: uppercase;
  }
  .menu-container {
    margin: 20px;
  }
  .menu-button-group {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 800px;
    overflow-x: auto;
  }
  .menu-button-group button {
    border-radius: 6px;
    display: inline-block;
    padding: 8px 6px;
    margin: 10px 8px;
    min-width: 140px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .menu-button-group button.active {
    background-color: var(--base-dark);
    color: #ffffff;
    border: 1px solid var(--base-dark);
  }
  .menu-content {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .menu-content-header {
    display: flex;
    justify-content: space-between;
  }
  .legend {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .legend-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 15px;
  }
  .legend-info span {
    margin-left: 5px;
  }
  .image-note {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  const menuLinks = document.querySelectorAll(".menu-links");
  const menuContent = document.querySelectorAll(".menu-content");

  menuContent.forEach((content) => {
    content.style.display = "none";
  });

  menuLinks.forEach((link) => {
    link.addEventListener("click", (e) => {
      const menu = e.target.dataset.menu;
      removeActiveClass();
      menuContent.forEach((content) => {
        content.style.display = "none";
      });
      link.classList.add("active");
      document.getElementById(menu).style.display = "block";
    });
  });

  menuContent[0].style.display = "block";

  const removeActiveClass = () => {
    menuLinks.forEach((link) => {
      link.classList.remove("active");
    });
  };
</script>
