---
import LegendIcon from "../components/LegendIcon.astro";

const { name, description, price_1, price_2, legend } = Astro.props;
---

<div class="menu-item-container">
  <div class="menu-item-column column-1">
    <div class="menu-item-desktop">
      <LegendIcon symbol={legend} />
    </div>
  </div>
  <div class="menu-item-column column-2">
    <div class="menu-item-header">
      <p>{name}</p>
      <div class="menu-item-prices">
        <span class={price_2 ? "menu-item-price-2" : ""}>{price_1}</span>
        {price_2 ? <span>{price_2}</span> : ""}
      </div>
    </div>
    <div class="menu-item-description">
      <p>{description}</p>
    </div>
  </div>
</div>
<div class="menu-item-mobile">
  <LegendIcon symbol={legend} />
</div>

<style>
  .menu-item-container {
    margin-top: 25px;
  }
  .menu-item-header {
    display: flex;
    justify-content: space-between;
  }
  .menu-item-header {
    font-family: "LemonMilk", system-ui, sans-serif;
    font-weight: 400;
  }
  .menu-item-desktop {
    display: none;
  }
  .menu-item-prices {
    display: flex;
    width: 100px;
    flex: none;
    justify-content: end;
  }
  .menu-item-price-2 {
    margin-right: 14px;
  }

  @media only screen and (min-width: 768px) {
    .menu-item-container {
      display: flex;
    }
    .column-1 {
      width: 25px;
    }
    .column-2 {
      width: 100%;
    }
    .menu-item-desktop {
      display: block;
      padding-top: 6px;
    }
    .menu-item-mobile {
      display: none;
    }
  }
</style>
